body {

    font-size: 30px;
}

.nav-mobile {
    display: none;
}

#ul-mobile {
    display: none;
}

.nav-desktop {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    line-height: 80px;
    z-index: 10;
    box-shadow: 0 0 1em black;
}

#ul-desktop {
    display: flex;
    list-style-type: none;
}


.third-box h3,
.second-box h3,
p {
    font-size: 20px;
}

.logo {
    width: 120px;
    height: 60px;
    margin: 10px;

}

.about-box {

    width: 48%;
    height: 420px;
}

.fourth-box {
    height: 400px;
}

.fifth-box h3 {
    font-size: 40px;
}

.fifth-box p {
    font-size: 35px;
}

#Download>h3 {
    font-size: 30px;
    margin: 10px;
}